.dashboard {
    display: grid;

    gap: 40px;
    column-gap: 80px;

    grid-template-columns: 200px 200px;
    grid-template-rows: 200px 200px 200px;

    min-height: 30vh;
    margin: 0 auto;

    padding: 30px;


}