*{
    transition: 0.3s ease-in-out;
}

body{
    background-color: #333;
}
.nicenav{
  display: flex;  
  gap: 10px;
  margin: 20px;
} 

.itemnav{
    text-align: center;
    margin: 10px;
    background-color: #242424;
    font-size: x-large;
    color: #ccc;
    text-decoration: none;
    padding: 14px;
    border-radius: 16px
}


.itemnav:hover{
    scale: 0.95;
    background-color: #5a5a5a;
    font-size: x-large;
    
    
    
    border-radius: 20px
}