.nicenav{
  display: flex;  
  gap: 5px;
  margin: 20px;
} 

.itemnav{
    text-align: center;
    margin: 10px;
    background-color: #242424;
    font-size: x-large;
    color: #ccc;
    text-decoration: none;
    padding: 10px;
    scale: 0.8;
    border-radius: 16px
}


.itemnav:hover{
    scale: 1;
    background-color: #5a5a5a;
    font-size: x-large;
    
    
    
    border-radius: 20px
}