*{
  margin: 0 auto;
  padding: 0;
  text-decoration: none;
  font-family: "Roboto Mono", monospace;
  box-sizing: border-box;
}

body, html, #root{
  min-height: 100vh;
  background-color: #10141c;
  color: #fff;
  /* #1D576C */
  /* #08A7AC */
  /* #73FAC9 */
}

